[package]
name = "casino_main"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
candid = "0.10"
ic-cdk = "0.13"
ic-stable-structures = "0.6"
serde = "1.0"
serde_json = "1.0"
sha2 = "0.10"
